/*****************横幅**************************/

#banner {
	width: 100%;
	height: 163px;
	background: url(../img/cnr_home_sale_header.jpg) no-repeat 50% 50%;
}


/*****************主体内容**************************/

#main {
	width: 100%;
	min-height: 1250px;
	background: #f2f2f2;
}

#main .main-con {
	width: 1270px;
	min-height: 1250px;
	margin: 0 auto;
}

#main .main-con .lcon {
	width: 886px;
	min-height: 1148px;
	float: left;
	margin-top: 30px;
}

#main .main-con .lcon .top {
	background: url(../img/cnr_home_sale_new_title.jpg);
	width: 159px;
	height: 25px;
	display: inline-block;
}

#main .main-con .lcon .top-line {
	width: 710px;
	height: 25px;
	margin-left: 10px;
	display: inline-block;
	border-bottom: 1px solid #CDCDCD;
}

#main .main-con .lcon .content-goods {
	margin-top: 10px;
}

#main .main-con .lcon .content-goods a {
	margin-bottom: 20px;
	position: relative;
	display: block;
	width: 886px;
	height: 248px;
	margin-bottom: 20px;
	border: 1px solid #DDDDDD
}
#main .main-con .lcon .content-goods a .span{
	display: inline-block;
	height: 30px;
	width: 80px;
	background: gray;
	border-bottom-right-radius: 15px;
	border-top-right-radius: 15px;
	position: absolute;
	top: 15px;
	left: 238px;
	color: white;
	text-align: center;
	line-height: 30px;
	
	
}
#main .main-con .rcon {
	width: 295px;
	min-height: 1148px;
	float: right;
	margin-top: 30px;
	margin-right: 30px;
}

#main .main-con .rcon .right-header {
	position: relative;
	height: 42px;
	line-height: 42px;
	font-size: 15px;
	color: white;
	text-align: center;
	background-color: #F15C18;
}

#main .main-con .rcon ul li {
	width: 274px;
	height: 87px;
	margin-top: 15px;
	border-bottom: 1px solid gray;
	margin-left: 15px;
}

#main .main-con .rcon {
	background: white;
}

#main .main-con .rcon ul li span {
	display: inline-block;
	width: 56px;
	height: 87px;
	float: left;
	font-size: 30px;
	color: gray;
}


#main .main-con .rcon ul li img {
	display: inline-block;
	width: 74px;
	height: 74px;
}

#main .main-con .rcon .Ttile {
	width: 120px;
	height: 87px;
	float: right;
	font-size: 14px;
}

#main .main-con .rcon .Ttile em {
	color: red;
}

#get-list-more {
	padding-top: 10px;
	width: 887px;
	height: 51px;
	display: block;
	background: url(../img/more.png) no-repeat 50% 30px;
	text-align: center;
	border: 1px solid gray;
}


/*******************最后疯抢************************/

.middle-border {
	width: 100%;
	display: inline-block;
	height: 12px;
	border-top: 2px solid #CDCDCD;
	margin-top: 60px;
	position: relative;
}

.middle-hot {
	width: 350px;
	height: 40px;
	display: inline-block;
	background: #f2f2f2 url(../img/cnr_home_sale_hot_title.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	position: absolute;
	top: -22px;
	left: 50%;
	margin-left: -148px;
}

.wrapper {
	width: 1200px;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 20px;
	overflow: hidden;
}
.sale-footer ul {
    margin-left: -40px;
}
.sale-footer ul li {
    float: left;
    margin: 0 0 30px 40px;
    position: relative;
}
.sale-footer ul li em{
	position: absolute;
	left: 15px;
	bottom: 10px;
	background: gray;
	color: white;
	display: block;
	width: 150px;
	text-align: center;
	height: 30px;
	line-height: 030px;
	border-radius: 15px;
}
