body,html,div,span,ul,li,strong,i,b,input,table,tr,th,td,dt,dl,dd,a,p{
	padding: 0;
	margin:0;
}
a{
	text-decoration: none;
	font-size: 13px;
	color: #999999;
	line-height: 24px;
}
ul{
	list-style: none;
}
img{
	display: block;
	border: 0;
}
.clearfix:after{ 
　　content:''; 
　　display:block; 
　　height:0; 
　　clear:both; 
　　overflow:hidden; 
}

