
@charset "utf-8";
/* CSS Document */

body { background-color: #f2f2f2;}
.public-nav-layout .all-category .category { display: block !important;}
#footer { background-color: #343a3a;}
/*.wrapper { width: 1210px;}*/

/* ==========================
 * 广告区域布局样式
 * ========================== */
.ads-topbanner-layout { text-align: center; display: block; width: 100%; overflow: hidden;}


/* 首页焦点区域
-------------------------------------- */
.home-focus-layout { position: relative; z-index: 1; width: 100%; height: 479px; background: #fff}
/* 切换焦点图 */
/*.focus { width: 730px; height: 430px; padding: 10px 0 0 10px; margin: 0 0 0 210px; overflow: hidden; position: relative; z-index: 1;}*/
.focus {
    position: relative;
    width: 100%;
    height: 400px;
    margin: 0;
    padding: 0;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    top:79px;
}
#homeTopBanner {
    position: relative;
    width: 100%;
    height: 400px;
    margin: 0;
    padding: 0;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
}
#homeTopBanner li {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0px;
    background-repeat: no-repeat;
    background-position: 50% 0;
}
#homeTopBanner li a {
    display: block;
    width: 790px;
    height: 400px;
    text-indent: -9999px;
    margin-left: -430px;
    position: absolute;
    z-index: 2;
    left: 50%;
}
.bx-wrapper .bx-prev{ left: 50% !important; margin-left:-428px; }
.bx-wrapper .bx-next { right: 50% !important; margin-right: -355px;}
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto{ width: 790px !important; left: 50%; margin-left: -433px }
.floor-t1 .main-side .bx-wrapper .bx-prev{ left: 50% !important; margin-left:-170px; }
.floor-t1 .main-side .bx-wrapper .bx-next { right: 50% !important; margin-right: -170px;}
.floor-t1 .main-side .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto{ width: 339px !important; left: 50%; margin-left: -170px }
.floor-t2 .main-side .bx-wrapper .bx-prev{ left: 50% !important; margin-left:-220px; }
.floor-t2 .main-side .bx-wrapper .bx-next { right: 50% !important; margin-right: -220px;}
.floor-t2 .main-side .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto{ width: 439px !important; left: 50%; margin-left: -220px }



#homeTopBanner .bx-controls-direction { display: none;}

.full-screen-slides li { width: 100%; height: 100%; position: absolute; z-index: 1; top: 0; left: 0;}

.full-screen-slides li a { display: block; width:776px; height:270px; text-indent:-9999px; margin-left: -388px; position: absolute; z-index: 2; left: 50%;}
.full-screen-slides-pagination{ font-size: 0; *word-spacing:-1px/*IE6、7*/; filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#33FFFFFF', endColorstr='#33FFFFFF'); background: rgba(255,255,255,0.2); text-align: right; display:block; list-style:none; width: 760px; height: 6px; padding:7px 8px ; margin-left: -388px; position:absolute; left:50%; top: 280px; z-index: 9;}
.full-screen-slides-pagination li { vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display:inline/*IE6、7*/; list-style:none; width:24px; height:6px; margin-left:4px; filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#3F000000', endColorstr='#3F000000');background:rgba(0,0,0,0.25);  overflow: hidden; cursor: pointer; *zoom:1;}
.full-screen-slides-pagination a { display: block; width:100%; height:100%; padding:0; margin:0; text-indent:-9999px;}
.full-screen-slides-pagination .current { background: #F30;}

/*顶部直播*/
.top-live{height: 79px; width: 1033px; position: absolute; left: 50%; margin-left:-429px;}
.top-live .top-live-left{ width: 866px; height: 79px; float: left; }
.top-live .top-live-left .live-left{border:1px solid #e4e4e4; padding:5px 0px 5px 0px; margin:5px 6px 5px 15px; height: 59px; width:408px; float: left; }
.top-live .top-live-left .live-left:last-child{margin:5px 15px 5px 6px;}
.top-live .top-live-left .live-left i{display: block;width: 100px; height: 59px; margin-left: 5px; float: left; background: url(../img/live.png) no-repeat}
.top-live .top-live-left .live-left .live-banner01{ background-position: 0px 0px}
.top-live .top-live-left .live-left .live-banner02{ background-position: -100px 0px}
.top-live .top-live-left .live-left .live-goods{ width: 290px; float: left; position: relative; }
.top-live .top-live-left .live-left .live-goods .live-special{display: inline-block; vertical-align: top; position: relative; width: 90px; height: 59px; margin-left: 15px; overflow: hidden;}
.top-live .top-live-left .live-left .live-goods .live-specials{display: inline-block; vertical-align: top; position: relative; width: 60px; height: 60px; margin-left: 15px; overflow: hidden;}
.top-live .top-live-left .live-left .live-goods .live-specials img{width: 60px; height: 60px;}
.top-live .top-live-left .live-left .live-goods img{ width: 90px; height: 59px;position: absolute;  }
.top-live .top-live-left .live-left .live-goods .mask{position: absolute; top:0px; left: 15px; width: 90px; height: 59px; background:url(../img/radio.png) no-repeat}
.top-live .top-live-left .live-left .live-goods .special-title{width: 60px; height: 60px;}
.top-live .top-live-left .live-left .live-goods .goods-title{position: relative; width: 175px; display: inline-block; margin-left: 6px; }
.top-live .top-live-left .live-left .live-goods .goods-title p{ line-height: 24px; height: 24px; width: 100%; color: #000; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.top-live .top-live-left .live-left .live-goods .goods-title p.goods-price{ margin-top: 5px; color:#F15C18 ;width: 50%}
.top-live .top-live-left .live-left .live-goods .goods-title p.goods-price em{line-height: 32px; font-size: 20px;}
.top-live .top-live-left .live-left .live-goods .goods-title .goto-live{position: absolute;right: -4px; color: #f22d25;bottom:-4px;height: 22px; width: 84px;line-height: 21px; border:1px solid #f22d25; text-align: center;box-shadow: 1px 1px 2px #e3d5d5}
.top-live .top-live-right{ float: right; width: 167px; height: 79px; }
.top-live .top-live-right a{ width: 167px; height: 79px; display: block;}
.top-live .top-live-right a img{ max-width: 167px; max-height: 79px; }

/* 三联切换焦点图 */
.jfocus-trigeminy { width: 776px; height: 180px; margin-left: -388px; clear: both; position: absolute; z-index: 2; top: 300px; left: 50%; overflow: hidden;}
.jfocus-trigeminy ul { background-color: #FFF; width: auto; height: 180px; position: absolute; z-index: 1; overflow: hidden;}
.jfocus-trigeminy ul li { width: 777px; height: 180px; float: left; margin-left: -1px; }
.jfocus-trigeminy ul li a { display: block; width: 259px; height: 180px; float: left;}
.jfocus-trigeminy ul li a img { max-width: 259px; max-height: 180px;}
.jfocus-trigeminy .arrow { background: url(../images/home_bg.png) no-repeat; width: 45px; height: 100px; position: absolute; z-index: 2; top: 40px; cursor: pointer; }
.jfocus-trigeminy .pre { background-position: 0 -100px; left: 0;}
.jfocus-trigeminy .next { background-position: -45px -100px; right: 0;}
.jfocus-trigeminy .pagination{ display: none;}
/*焦点区域右侧*/
.home-focus-layout .right-bar { top:79px; position: absolute; z-index:1; right:50%; width: 248px; height: 400px; background-color: rgba(255,255,255,0.7); margin-right: -604px;}
.home-focus-layout .right-bar .title { width: 90%; height: 20px; padding: 10px 5%; border-bottom: dotted 1px #E1E1E1;}
.home-focus-layout .right-bar .title h2 { font-size: 16px; line-height: 20px; color: #333;}
.home-focus-layout .right-bar .content-news { height: 160px; border-bottom: dashed 1px #E1E1E1; overflow: hidden;}
.home-focus-layout .right-bar .content-news ul { padding: 10px 6px 10px 15px;}
.home-focus-layout .right-bar .content-news li { line-height: 24px; text-overflow: ellipsis; white-space: nowrap; height: 24px; overflow: hidden;}
.home-focus-layout .right-bar .contnet-function { width: 238px; overflow: hidden}
.home-focus-layout .right-bar .contnet-function ul { width: 240px; margin: -1px -1px 0 -1px;}
.home-focus-layout .right-bar .contnet-function li { float: left; width: 79px; height: 90px; border: solid #E1E1E1; border-width: 1px 0 0 1px;}
.home-focus-layout .right-bar .contnet-function li a { display: block;  text-align: center; padding: 10px; line-height: 20px;}
.home-focus-layout .right-bar .contnet-function li i { display: block; width: 40px; height: 40px; margin: 5px 9px 5px 10px; background: url(../img/homepage_c2hvcG5j_pic.png) no-repeat;} 
.home-focus-layout .right-bar .contnet-function i.tb-01 { background-position: 0 0;}
.home-focus-layout .right-bar .contnet-function i.tb-02 { background-position: -40px 0;}
.home-focus-layout .right-bar .contnet-function i.tb-03 { background-position: -80px 0;}
.home-focus-layout .right-bar .contnet-function i.tb-04 { background-position: -120px 0;}
.home-focus-layout .right-bar .contnet-function i.tb-05 { background-position: -160px 0;}
.home-focus-layout .right-bar .contnet-function i.tb-06 { background-position: -200px 0;}
.home-focus-layout .right-bar .contnet-function i.tb-07 { background-position: -240px 0;}
.home-focus-layout .right-bar .contnet-function i.tb-08 { background-position: -300px 0 ;}

.home-sale-layout { width: 1210px; height: 150px; margin: 15px auto 0 auto; clear: both; background-color: #FFF; overflow: hidden; font-family: "微软雅黑", "黑体";}
.home-sale-layout ul { font-size: 0; word-spacing:-1em; width: 1208px; padding: 25px 0; margin-left: -1px;}
.home-sale-layout ul li { display: inline-block; *display: inline/*IE7*/; *zoom: 1/*IE7*/; vertical-align: top; width: 301px; height: 100px; border-left: solid 1px #E8E4DE;}
.home-sale-layout ul li a { display: block; width: 299px; height: 150px; margin: -25px 0; position: relative; z-index: 1;}
.home-sale-layout ul li a h3 { position: absolute; z-index: 1; top: 25px; left: 15px; width: 105px; font-size: 16px; font-weight: 600; color: #444; -webkit-transition: .2s ease-in; -moz-transition: -webkit-transform .2s ease-in; -o-transition: -webkit-transform .2s ease-in; transition: .2s ease-in; overflow: hidden;}
.home-sale-layout ul li a:hover h3 { width: 135px; top: 50px; color: #000; -webkit-transition: .2s ease-out; -moz-transition: -webkit-transform .2s ease-out; -o-transition: -webkit-transform .2s ease-out; transition: .2s ease-out;}
.home-sale-layout ul li a h5 { position: absolute; z-index: 1; top: 50px; left: 15px; width: 100px; font-size: 12px; color: #888; -webkit-transition: .2s ease-in; -moz-transition: -webkit-transform .2s ease-in; -o-transition: -webkit-transform .2s ease-in; transition: .2s ease-in;}
.home-sale-layout ul li a:hover h5 { width: 135px; top: 70px; color: #FF3300; -webkit-transition: .2s ease-out; -moz-transition: -webkit-transform .2s ease-out; -o-transition: -webkit-transform .2s ease-out; transition: .2s ease-out;}
.home-sale-layout ul li a img { position: absolute; z-index: 1; bottom: 0; right: 30px; width: 150px; height: 150px; -webkit-transition: .2s ease-in; -moz-transition: -webkit-transform .2s ease-in; -o-transition: -webkit-transform .2s ease-in; transition: .2s ease-in;}
.home-sale-layout ul li a:hover img { right: 0; -webkit-transition: .2s ease-out; -moz-transition: -webkit-transform .2s ease-out; -o-transition: -webkit-transform .2s ease-out; transition: .2s ease-out;} 

/*今日最大牌*/
.right-bar h2{ text-align: center; width: 100%; height:30px; line-height: 30px; padding:12px 0; font-size: 16px; font-weight: bold; color: #000 }
.right-bar .right-max{padding:0 29px; width: 192px; height: 346px;}
.right-bar .right-max a{ width: 190px; height: 250px; display: block;text-align: center; }
.right-bar .right-max a img{ max-width: 190px; max-height: 250px; }
.right-bar .right-max h3{ height: 24px; line-height: 24px; width: 100%; text-align: center; font-weight: bold; color: #000 }
.right-bar .right-max p{height: 40px; line-height: 20px; margin-top:5px; overflow: hidden; text-align: center;}

/*品牌特卖*/
.home-brand-layout{ width: 1210px; height: 715px; margin:15px auto; clear: both; overflow: hidden; }
.home-brand-layout .brand-title{ height: 40px; line-height: 40px; position: relative; padding:10px 0; }
.home-brand-layout .brand-title h2{ font-weight: 700; font-size: 28px; color: #000; background:#f2f2f2; width: 200px; height: 40px; text-align: center;position:absolute; left: 50%;margin-left:-100px; }
.home-brand-layout .brand-title span{ display: block; position: absolute;; top:30px; left: 0px; width: 1210px; height: 1px; border-top:1px solid #e5e5e5; }
.home-brand-layout .brand-img{ display: block; margin-top: 10px; }
.home-brand-layout .brand-img ul{overflow: hidden;}
.home-brand-layout .brand-img ul li{position: relative;float: left; margin-right: 50px; width: 580px; height: 300px; margin-bottom: 25px;}
.home-brand-layout .brand-img ul li:nth-child(even){margin-right:0px;}
.home-brand-layout .brand-img ul li a{display: block; width: 580px; height: 300px;}
.home-brand-layout .brand-img ul li a img{ max-width: 580px; max-height: 300px; }
.home-brand-layout .brand-img ul li .brand-img-two{position:absolute;  top:0; left:0; width: 400px; height: 200px; margin-top: 50px; margin-left: 90px;display:none}
.home-brand-layout .brand-img ul li .brand-img-two a{display: block; width: 400px; height: 200px;text-align: center;}
.home-brand-layout .brand-img ul li .brand-img-two a img{width: 400px; height: 200px;}
.home-brand-layout .brand-img ul li .brand-to{ width: 580px; height: 300px; background:rgba(255,255,255,0.3); display: block; position: absolute; top:0; left: 0; display:none}
.home-brand-layout .brand-img ul li .brand-href{width: 580px; height: 300px; display: block; position: absolute; top:0; left: 0;}
.home-brand-layout .brand-img ul li:hover .brand-img-two{display: block;}
.home-brand-layout .brand-img ul li:hover .brand-to{display: block;}

/*央广国宝苑*/
.home-treasure-layout{ width: 1210px; height: 385px; margin:15px auto; clear: both; overflow: hidden; }
.home-treasure-layout .treasure-title{ height: 40px; line-height: 40px; position: relative; padding:10px 0; }
.home-treasure-layout .treasure-title h2{ font-weight: 700; font-size: 28px; color: #000; background:#f2f2f2; width: 200px; height: 40px; text-align: center;position:absolute; left: 50%;margin-left:-100px; }
.home-treasure-layout .treasure-title span{ display: block; position: absolute;; top:30px; left: 0px; width: 1210px; height: 1px; border-top:1px solid #e5e5e5; }
.home-treasure-layout .treasure-adv{ width: 1210px; height: 285px; margin-top:20px; }
.home-treasure-layout .treasure-adv .adv-1{display:block; float: left; width: 710px; height: 285px;}
.home-treasure-layout .treasure-adv .adv-1 img{ width: 710px; height: 285px; }
.home-treasure-layout .treasure-adv .adv-2{display:block; float: left; width: 250px; height: 285px;}
.home-treasure-layout .treasure-adv .adv-2 img{ width: 250px; height: 285px; }
.home-treasure-layout .treasure-adv .adv-3{display:block; float: left; width: 250px; height: 285px;}
.home-treasure-layout .treasure-adv .adv-3 img{ width: 250px; height: 285px; }

/* 首页标准内容模块
-------------------------------------- */
.home-standard-layout { width: 1210px; overflow: hidden; margin: 15px auto 0 auto; font-family: "微软雅黑", "黑体";}
.home-standard-layout .title-bar { width: 100%; height: 40px; border-bottom: solid 1px #E6E6E6;}
.home-standard-layout .title-bar .txt-type { width: 210px; float: left;}
.home-standard-layout .title-bar .txt-type span { float: left; width: 20px; height: 20px; margin: 11px 8px 0 0; text-align: center; font-family: "微软雅黑", "黑体"; font-weight: 600; line-height: 20px; color: #FFF;}
.home-standard-layout .title-bar .txt-type h3 { font-size: 20px; line-height: 40px; color: #000; font-weight: 700;}
.home-standard-layout .tabs-nav { background-color: transparent; height: 30px; margin-top: 10px; float: left; position: relative; z-index: 1; overflow: hidden;}
.home-standard-layout .tabs-nav li { background-color: transparent; float: left; padding: 0; position: relative; z-index: 1; cursor: pointer;}
.home-standard-layout .tabs-nav li a { display: block; font-size: 14px; line-height: 27px; text-align: center; padding: 0 15px; margin: 0 5px; border-bottom: solid 3px transparent; color: #333;}
.home-standard-layout .tabs-nav li a.tabs-selected { font-weight: 600; color: #000;} 
    
.home-standard-layout .title-bar .hot-keyowrds {float: right; margin-top: 10px;}
.home-standard-layout .title-bar .hot-keyowrds a { line-height: 30px; margin: 0 0 0 15px; color: #555;}
.home-standard-layout .title-bar .hot-keyowrds a.sp { color: #FF7F00;}

.home-standard-layout .container { display: block; width: 100%; height: 440px; background-color: #FFF; border-bottom: solid 1px #E5E5E5;}
.home-standard-layout .sideber { position: relative; z-index: 1; display: block; float: left; width: 210px; height: 440px; background-color: #FFF;}
.home-standard-layout .bg-layout { position: absolute; z-index: 1; top: 0; right: 0; bottom: 0; left: 0;}
.home-standard-layout .bg-layout a { display: block;}
.home-standard-layout .bg-layout h3 { position: absolute; z-index: 2; top: 15px; left: 15px; font-size: 20px; line-height: 20px; color: #FFF; font-weight: 700; overflow: hidden; white-space:nowrap;}
.home-standard-layout .bg-layout h4 { position: absolute; z-index: 2; top: 45px; left: 15px; font-size: 13px; line-height: 16px; color: #FFF; font-weight: 700;}
.home-standard-layout .recom-sort { position: absolute; z-index: 2; left: 10px; bottom: 148px; right: 0px; width: 191px; height: 61px;}
.home-standard-layout .recom-sort ul { width: 192px; margin: -1px 0 0 -1px;}
.home-standard-layout .recom-sort ul li { width: 95px; height: 30px; float: left; margin: 1px 0 0 1px;}
.home-standard-layout .recom-sort ul li a { display: block; padding: 5px 10px; line-height: 20px; color: #FFF;}

.home-standard-layout .recom-brand { position: absolute; z-index: 2; left: 10px; bottom: 10px; right: 0px; width: 191px; height: 137px; background-color: #E6E6E6;}
.home-standard-layout .recom-brand ul { width: 192px; margin: -1px 0 0 -1px;}
.home-standard-layout .recom-brand ul li { width: 95px; height: 45px; float: left; margin: 1px 0 0 1px; background-color: #FFF;}
.home-standard-layout .recom-brand ul li a { display: block; width: 90px; height: 30px; padding: 8px 2px 7px 3px;}
.home-standard-layout .recom-brand ul li a img { width: 90px; height: 30px;}

.home-standard-layout .container .tabs-panel { position: relative; z-index: 1; width: 990px; height: 440px; float: left;}
.home-standard-layout .container .tabs-hide { display: none;}
.home-standard-layout .container .zone { position: absolute; z-index: 1; background-color: #FFF; border-style: solid; border-color: #E5E5E5; overflow: hidden;}
.home-standard-layout .container .z_a_1 { top: 0; left: 0; padding: 10px; width: 360px; height: 420px; border: none;}
.home-standard-layout .container .z_b_1 { top: 0; left: 380px; width: 199px; height: 219px; border-width: 1px 0 0 1px; border-top-color: #FFF;}
.home-standard-layout .container .z_b_2 { top: 220px; left: 380px; width: 199px; height: 219px; border-width: 1px 0 0 1px;}
.home-standard-layout .container .z_c_1 { top: 0; left: 580px; width: 199px; height: 219px; border-width: 1px 0 0 1px; border-top-color: #FFF;}
.home-standard-layout .container .z_c_2 { top: 220px; left: 580px; width: 199px; height: 219px; border-width: 1px 0 0 1px;}
.home-standard-layout .container .z_d_1 { top: 0; right: 0; width: 208px; height: 147px; border-width: 0 1px 0 1px; border-top-color: #FFF;}
.home-standard-layout .container .z_d_2 { top: 146px; right: 0; width: 208px; height: 147px; border-width: 1px 1px 0 1px;}
.home-standard-layout .container .z_d_3 { top: 293px; right: 0; width: 208px; height: 146px; border-width: 1px 1px 0 1px;}

/* 楼层广告主标题 */
.home-standard-layout .container .z_b_1 h3,
.home-standard-layout .container .z_b_2 h3,
.home-standard-layout .container .z_c_1 h3,
.home-standard-layout .container .z_c_2 h3 { position: absolute; z-index: 2; top: 20px; left: 10px; right: 10px; height: 20px; overflow: hidden; text-align: center; font-size: 16px; line-height: 20px; color: #000; -webkit-transition: .2s ease-in; -moz-transition: -webkit-transform .2s ease-in; -o-transition: -webkit-transform .2s ease-in; transition: .2s ease-in;}
.home-standard-layout .container .z_b_1 a:hover h3,
.home-standard-layout .container .z_b_2 a:hover h3,
.home-standard-layout .container .z_c_1 a:hover h3,
.home-standard-layout .container .z_c_2 a:hover h3 { top: 25px; -webkit-transition: .2s ease-out; -moz-transition: -webkit-transform .2s ease-out; -o-transition: -webkit-transform .2s ease-out; transition: .2s ease-out;}
.home-standard-layout .container .z_d_1 h3,
.home-standard-layout .container .z_d_2 h3,
.home-standard-layout .container .z_d_3 h3 { position: absolute; z-index: 2; top: 20px; left: 15px; right: 15px; height: 20px; overflow: hidden; text-align: left; font-size: 16px; line-height: 20px; color: #000; -webkit-transition: .2s ease-in; -moz-transition: -webkit-transform .2s ease-in; -o-transition: -webkit-transform .2s ease-in; transition: .2s ease-in;}
.home-standard-layout .container .z_d_1 a:hover h3,
.home-standard-layout .container .z_d_2 a:hover h3,
.home-standard-layout .container .z_d_3 a:hover h3 { left: 25px; -webkit-transition: .2s ease-out; -moz-transition: -webkit-transform .2s ease-out; -o-transition: -webkit-transform .2s ease-out; transition: .2s ease-out;}
/* 楼层广告付标题 */
.home-standard-layout .container .z_b_1 h5,
.home-standard-layout .container .z_b_2 h5,
.home-standard-layout .container .z_c_1 h5,
.home-standard-layout .container .z_c_2 h5 { position: absolute; z-index: 2; top: 40px; left: 10px; right: 10px; height: 20px; overflow: hidden; text-align: center; font-size: 12px; line-height: 20px; -webkit-transition: .2s ease-in; -moz-transition: -webkit-transform .2s ease-in; -o-transition: -webkit-transform .2s ease-in; transition: .2s ease-in;}
.home-standard-layout .container .z_b_1 a:hover h5,
.home-standard-layout .container .z_b_2 a:hover h5,
.home-standard-layout .container .z_c_1 a:hover h5,
.home-standard-layout .container .z_c_2 a:hover h5 { top: 45px; -webkit-transition: .2s ease-out; -moz-transition: -webkit-transform .2s ease-out; -o-transition: -webkit-transform .2s ease-out; transition: .2s ease-out;}
.home-standard-layout .container .z_d_1 h5,
.home-standard-layout .container .z_d_2 h5,
.home-standard-layout .container .z_d_3 h5 { position: absolute; z-index: 2; top: 40px; left: 15px; right: 10px; height: 20px; overflow: hidden; text-align: left; font-size: 12px; line-height: 20px; -webkit-transition: .2s ease-in; -moz-transition: -webkit-transform .2s ease-in; -o-transition: -webkit-transform .2s ease-in; transition: .2s ease-in;}
.home-standard-layout .container .z_d_1 a:hover h5,
.home-standard-layout .container .z_d_2 a:hover h5,
.home-standard-layout .container .z_d_3 a:hover h5 { left: 25px; -webkit-transition: .2s ease-out; -moz-transition: -webkit-transform .2s ease-out; -o-transition: -webkit-transform .2s ease-out; transition: .2s ease-out;}
/* 楼层广告图 */
.home-standard-layout .container .z_b_1 img,
.home-standard-layout .container .z_b_2 img,
.home-standard-layout .container .z_c_1 img,
.home-standard-layout .container .z_c_2 img { position: absolute; z-index: 1; top: 0; left: 0; width: 199px; height: 229px; -webkit-transition: .2s ease-in; -moz-transition: -webkit-transform .2s ease-in; -o-transition: -webkit-transform .2s ease-in; transition: .2s ease-in;}
.home-standard-layout .container .z_b_1 a:hover img,
.home-standard-layout .container .z_b_2 a:hover img,
.home-standard-layout .container .z_c_1 a:hover img,
.home-standard-layout .container .z_c_2 a:hover img { top: -10px; -webkit-transition: .2s ease-out; -moz-transition: -webkit-transform .2s ease-out; -o-transition: -webkit-transform .2s ease-out; transition: .2s ease-out;}
.home-standard-layout .container .z_d_1 img,
.home-standard-layout .container .z_d_2 img,
.home-standard-layout .container .z_d_3 img { position: absolute; z-index: 1; top: 0; left: 0; width: 218px; height: 147px; -webkit-transition: .2s ease-in; -moz-transition: -webkit-transform .2s ease-in; -o-transition: -webkit-transform .2s ease-in; transition: .2s ease-in;}
.home-standard-layout .container .z_d_1 a:hover img,
.home-standard-layout .container .z_d_2 a:hover img,
.home-standard-layout .container .z_d_3 a:hover img { left: -10px; -webkit-transition: .2s ease-out; -moz-transition: -webkit-transform .2s ease-out; -o-transition: -webkit-transform .2s ease-out; transition: .2s ease-out;}


.home-standard-layout .container .goods-list { width: 989px; height: 439px; margin: 1px 0 0 1px; overflow: hidden;}
.home-standard-layout .container .goods-list ul { width: 990px; height: 440px; margin: -1px 0 0 -1px;}
.home-standard-layout .container .goods-list li { width: 167px; height: 189px; float: left; padding: 15px; text-align: center; border-style: solid; border-color: #E6E6E6; border-width: 1px 0 0 1px;}
.home-standard-layout .container .goods-list li a img{max-width: 130px; max-height: 130px; margin:0 auto; display: block;}
.home-standard-layout .container .goods-list .goods-img { max-width: 130px; max-height: 130px; margin-bottom: 5px;}
.home-standard-layout .container .goods-list .goods-name { line-height: 16px; height: 32px; text-align: left; margin-bottom: 5px; overflow: hidden;}
.home-standard-layout .container .goods-list .goods-price { text-align: left; font-size: 15px; font-family:"微软雅黑", "黑体"; color: #FF5300; line-height: 20px;}


.home-style-01 .title-bar .txt-type span { background-color: #FF6B80;}
.home-style-02 .title-bar .txt-type span { background-color: #61B3FF;}
.home-style-03 .title-bar .txt-type span { background-color: #AED55A;}
.home-style-04 .title-bar .txt-type span { background-color: #FF9901;}
.home-style-05 .title-bar .txt-type span { background-color: #FF6565;}
.home-style-06 .title-bar .txt-type span { background-color: #FB7292;}
.home-style-07 .title-bar .txt-type span { background-color: #6D93FF;}
.home-style-08 .title-bar .txt-type span { background-color: #35BFCB;}
.home-style-09 .title-bar .txt-type span { background-color: #356ACB;}
.home-style-10 .title-bar .txt-type span { background-color: #7CBB2E;}

.home-style-01 .tabs-nav li a.tabs-selected,
.home-style-01 .title-bar { border-color: #FF6B80;}
.home-style-02 .tabs-nav li a.tabs-selected,
.home-style-02 .title-bar { border-color: #61B3FF;}
.home-style-03 .tabs-nav li a.tabs-selected,
.home-style-03 .title-bar { border-color: #AED55A;}
.home-style-04 .tabs-nav li a.tabs-selected,
.home-style-04 .title-bar { border-color: #FF9901;}
.home-style-05 .tabs-nav li a.tabs-selected,
.home-style-05 .title-bar { border-color: #FF6565;}
.home-style-06 .tabs-nav li a.tabs-selected,
.home-style-06 .title-bar { border-color: #FB7292;}
.home-style-07 .tabs-nav li a.tabs-selected,
.home-style-07 .title-bar { border-color: #6D93FF;}
.home-style-08 .tabs-nav li a.tabs-selected,
.home-style-08 .title-bar { border-color: #35BFCB;}
.home-style-09 .tabs-nav li a.tabs-selected,
.home-style-09 .title-bar { border-color: #356ACB;}
.home-style-10 .tabs-nav li a.tabs-selected,
.home-style-10 .title-bar { border-color: #7CBB2E;}

.home-style-01 .recom-sort ul li {filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#CCCF3C47', endColorstr='#CCCF3C47');background:rgba(207,60,71,0.8);}
.home-style-02 .recom-sort ul li {filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#CC50ABFF', endColorstr='#CC50ABFF');background:rgba(80,171,255,0.8);}
.home-style-03 .recom-sort ul li {filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#CC87B329', endColorstr='#CC87B329');background:rgba(135,179,41,0.8);}
.home-style-04 .recom-sort ul li {filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#CCFF9901', endColorstr='#CCFF9901');background:rgba(255,153,1,0.8);}
.home-style-05 .recom-sort ul li {filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#CC9E652B', endColorstr='#CC9E652B');background:rgba(158,101,43,0.8);}
.home-style-06 .recom-sort ul li {filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#CCFB7292', endColorstr='#CCFB7292');background:rgba(251,114,146,0.8);}
.home-style-07 .recom-sort ul li {filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#CCCF3C47', endColorstr='#CCCF3C47');background:rgba(207,60,71,0.8);}
.home-style-08 .recom-sort ul li {filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#CC35BFCB', endColorstr='#CC35BFCB');background:rgba(53,191,203,0.8);}
.home-style-09 .recom-sort ul li {filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#CC366BCB', endColorstr='#CC366BCB');background:rgba(54,107,203,0.8);}
.home-style-10 .recom-sort ul li {filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#CC7DBB2F', endColorstr='#CC7DBB2F');background:rgba(125,187,47,0.8);}

.home-style-01 .container .zone h5 { color: #FF6B80;}
.home-style-02 .container .zone h5 { color: #61B3FF;}
.home-style-03 .container .zone h5 { color: #AED55A;}
.home-style-04 .container .zone h5 { color: #FF9901;}
.home-style-05 .container .zone h5 { color: #FF6565;}
.home-style-06 .container .zone h5 { color: #FB7292;}
.home-style-07 .container .zone h5 { color: #6D93FF;}
.home-style-08 .container .zone h5 { color: #35BFCB;}
.home-style-09 .container .zone h5 { color: #356ACB;}
.home-style-10 .container .zone h5 { color: #7CBB2E;}



/*区块左侧*/
.home-standard-layout .left-sidebar { width: 212px; height: 540px; float: left;}
.home-standard-layout .left-sidebar .title { background-color: #FFF; width: 100%; height: 40px;}
.home-standard-layout .left-sidebar .title .pic-type {}
.home-standard-layout .left-sidebar .title .pic-type img { max-width: 210px; max-height: 40px; margin: 0 1px; }
.home-standard-layout .left-sidebar .title .txt-type { height: 32px;}
.home-standard-layout .left-sidebar .title .txt-type span { font-family: "微软雅黑", "黑体"; font-size: 18px; line-height: 28px; background: #FFF; vertical-align: middle; text-align: center; display: inline-block; width: 28px; height: 28px; margin: auto 8px auto 2px; border: solid 2px; border-radius: 18px;}
.home-standard-layout .left-sidebar .title .txt-type h2 { font: 22px/32px "微软雅黑", "黑体"; color: #555; vertical-align: middle; display: inline-block; *display: inline/*IE6,7*/; zoom:1;}
/*区块左侧广告*/.home-standard-layout .left-ads { width: 100%; height: 280px;}
.home-standard-layout .left-ads img { max-width: 212px; max-height: 280px;}
/*左侧推荐分类*/
.home-standard-layout .recommend-classes { width: 200px; height: 220px; margin: 0 auto; overflow: hidden;}
.home-standard-layout .recommend-classes ul { font-size: 0; *word-spacing:-1px/*IE6、7*/; width: 202px; height: 222px; margin: -1px;}
.home-standard-layout .recommend-classes ul li { display: inline-block; *display: inline; zoom: 1;}
.home-standard-layout .recommend-classes ul li a { font-size: 13px; text-shadow: 1px 1px 0 rgba(0,0,0,0.05); color: #FFF; line-height: 21px; background: url(../images/home_bg.png) no-repeat -200px 10px; text-align: center; display: block; width: 101px; height: 21px; padding: 7px 0; border-style: solid; border-width: 1px 0;}
.home-standard-layout .recommend-classes ul li a:hover { text-decoration: none; text-shadow: none; filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#19000000', endColorstr='#19000000');background:rgba(0,0,0,0.1);}
/*区块中部*/
.home-standard-layout .middle-layout { width: 776px; height: 100%; float: left;}

/*中部推荐位广告图形式1*/
.home-standard-layout .middle-banner-style01 { background-color:#000; width: 776px; height: 498px; position: relative; z-index: 1;}
.home-standard-layout .middle-banner-style01 a { position: absolute; z-index: 1;}
.home-standard-layout .middle-banner-style01 .a1,
.home-standard-layout .middle-banner-style01 .a2,
.home-standard-layout .middle-banner-style01 .c1,
.home-standard-layout .middle-banner-style01 .c2,
.home-standard-layout .middle-banner-style01 .a1 img,
.home-standard-layout .middle-banner-style01 .a2 img,
.home-standard-layout .middle-banner-style01 .c1 img,
.home-standard-layout .middle-banner-style01 .c2 img { width: 194px; height: 194px;}
.home-standard-layout .middle-banner-style01 .a1 { top: 0; left: 0;}
.home-standard-layout .middle-banner-style01 .a2 { top: 194px; left: 0;}
.home-standard-layout .middle-banner-style01 .b1 { width: 388px; height: 388px; top: 0; left: 194px;}
.home-standard-layout .middle-banner-style01 .b1 img { width: 388px; height: 388px;}
.home-standard-layout .middle-banner-style01 .c1 { top: 0; left: 582px;}
.home-standard-layout .middle-banner-style01 .c2 { top: 194px; left: 582px;}
.home-standard-layout .middle-banner-style01 .d1,
.home-standard-layout .middle-banner-style01 .d2,
.home-standard-layout .middle-banner-style01 .d3,
.home-standard-layout .middle-banner-style01 .d4,
.home-standard-layout .middle-banner-style01 .d1 img,
.home-standard-layout .middle-banner-style01 .d2 img,
.home-standard-layout .middle-banner-style01 .d3 img,
.home-standard-layout .middle-banner-style01 .d4 img { width: 194px; height: 110px;}
.home-standard-layout .middle-banner-style01 .d1 { top: 388px; left: 0;}
.home-standard-layout .middle-banner-style01 .d2 { top: 388px; left: 194px;}
.home-standard-layout .middle-banner-style01 .d3 { top: 388px; left: 388px;}
.home-standard-layout .middle-banner-style01 .d4 { top: 388px; left: 582px;}
/*中部推荐商品列表*/
.home-standard-layout .middle-goods-list { width: 775px !important; height: 497px !important; border-style: solid; border-width: 0 1px 1px 0; border-color: transparent #DDD #DDD transparent; overflow: hidden;}
.home-standard-layout .middle-goods-list ul { width: 776px; height: 498px; margin: 0  -1px -1px 0; }
.home-standard-layout .middle-goods-list ul li { width: 193px; height: 248px; float: left; border-style: solid; border-width: 0 1px 1px 0; border-color: transparent #DDD #DDD transparent; overflow: hidden;}
.home-standard-layout .middle-goods-list dl { width: 160px; margin: 15px auto auto; position: relative; z-index: 1;}
.home-standard-layout .middle-goods-list dl dt.goods-name { font-family: "微软雅黑", "黑体"; line-height: 16px; width: 160px; height: 32px; position: absolute; z-index: auto; top: 168px; left: 0; overflow: hidden;}
.home-standard-layout .middle-goods-list dl dd.goods-thumb { width: 160px; height: 160px; position: absolute; z-index: auto; top: 0; left: 0;}
.home-standard-layout .middle-goods-list dl dd.goods-thumb a { text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 160px; height: 160px; overflow: hidden; }
.home-standard-layout .middle-goods-list dl dd.goods-thumb img { max-width: 160px; max-height: 160px; margin-top:expression(160-this.height/2); *margin-top:expression(80-this.height/2);}
.home-standard-layout .middle-goods-list dl dd.goods-price { font-size: 14px; line-height: 20px; position: absolute; z-index: auto; top: 204px; left: 0;}
.home-standard-layout .middle-goods-list dl dd.goods-price .original { font-size: 12px; font-weight: normal; text-decoration: line-through; color: #999; vertical-align: middle; margin-left: 6px;}
/*右侧推荐品牌*/
.home-standard-layout .right-sidebar { width: 212px; height: 100%; float: right; left: 0;}
.home-standard-layout .right-sidebar .title { background-color: #FFF; width: 100%; height: 40px; border-bottom: solid 2px #DDD;}
.home-standard-layout .recommend-brand { width: 212px; height: 257px; overflow: hidden;}
.home-standard-layout .recommend-brand ul { background-color: #FFF; width: 212px; height: 258px; margin-top: -1px}
.home-standard-layout .recommend-brand ul li { background-color: #FFF; float: left; border-bottom: solid 1px #EEE;}
.home-standard-layout .recommend-brand ul li a { display: block; width: 96px; height: 32px; padding: 5px;}
.home-standard-layout .recommend-brand ul li img { max-width: 96px;  max-height: 32px;}
/*右侧广告切换*/
.home-standard-layout .right-side-focus { width: 212px; height: 241px; position: relative; z-index: 1; overflow: hidden;}
.home-standard-layout .right-side-focus ul { height: 241px; position: absolute; z-index: 1;}
.home-standard-layout .right-side-focus ul li { width: 212px; height: 241px; overflow: hidden; float: left;}
.home-standard-layout .right-side-focus img { width: 212px; height: 241px;}
.home-standard-layout .right-side-focus .pagination { font-size: 0; *word-spacing:-1px/*IE6、7*/; text-align: center; width: 192px; height: 6px; padding: 7px 10px; position: absolute; z-index: 3; right: 0; bottom: 0;}
.home-standard-layout .right-side-focus .pagination span { background: #fff; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display:inline/*IE6、7*/; list-style:none; width:24px; height:6px; margin-left:4px; cursor: pointer;}
.home-standard-layout .right-side-focus .pagination span.on { background: #fff;}



/*商品页内定位侧导航*/
.page-nav { position: fixed; left: 50%; top: 50%; z-index: 1; margin: -200px auto auto -660px; list-style-type: none; opacity: 0; overflow: hidden;  -webkit-transition: .2s ease-in; -moz-transition: -webkit-transform .2s ease-in; -o-transition: -webkit-transform .2s ease-in; transition: .2s ease-in;}
.page-nav.show { opacity: 1;  -webkit-transition: .2s ease-in; -moz-transition: -webkit-transform .2s ease-in; -o-transition: -webkit-transform .2s ease-in; transition: .2s ease-in;} 
.page-nav li { position: relative; z-index: 1; width: 32px; height: 41px; border-top: solid 1px #CCC; margin-top: -1px; background-color: #E1E1E1;}
.page-nav li a { display: block; position: absolute; z-index: 1; top: 5px; left: 0; right: 0; bottom: 0;}
.page-nav li a:hover { color: #333;}
.page-nav li .txt { display: none; line-height: 15px; text-align: center;}
.page-nav li .img { display: block;}
.page-nav li .img i { background: url(../img/homepage_c2hvcG5j_pic.png) no-repeat; display: block; width: 32px; height: 32px;}
.page-nav li .img i.f-icon-01 { background-position: 0 -50px;}
.page-nav li .img i.f-icon-02 { background-position: -40px -50px;}
.page-nav li .img i.f-icon-03 { background-position: -80px -50px;}
.page-nav li .img i.f-icon-04 { background-position: -120px -50px;}
.page-nav li .img i.f-icon-05 { background-position: -160px -50px;}
.page-nav li .img i.f-icon-06 { background-position: -200px -50px;}
.page-nav li .img i.f-icon-07 { background-position: -240px -50px;}
.page-nav li .img i.f-icon-08 { background-position: -280px -50px;}
.page-nav li.current { background-color: #F9F9F9;}
.page-nav li.current .txt { display: block;}
.page-nav li.current .img { display: none;}

.page-nav li:hover { background-color: #F9F9F9;}
.page-nav li:hover .txt { z-index: 2; display: block;}
.page-nav li:hover .img { display: none;}













.floor .mt { display: block; height: 35px; border-bottom-style: solid; border-bottom-width: 2px; padding: 0;}
.floor .mt h2 { position: relative; display: inline; float: left; padding-left: 40px; font-size: 20px; line-height: 30px; color: #333;}
.floor .mt h2 i { position: absolute; top: 0; left: 0; width: 18px; height: 18px; padding: 7px 13px 5px 4px; text-align: left; background-image: url(../img/homepage/floor_mt_h2.png); background-repeat: no-repeat; color: #FFF; font-family: "微软雅黑", "黑体"; font-size: 12px; line-height: 18px;}

.floor .mt .tab { float: right; display: inline;}
.floor .tab { z-index: 1; height: 34px; border: solid 1px #ededed; border-bottom: 0 none;  line-height: 34px;}
.floor .tab-item { position: relative; float: left; display: inline; height: 34px;}
.floor .tab-item a { float: left; overflow: hidden; white-space: nowrap; height: 34px; padding: 0 16px; border-left: solid 1px #fff;  border-right: solid 1px #fff; background: #fff; font-family:"微软雅黑", "黑体"; text-decoration: none; line-height: 34px;}
.floor .tab-selected a { height: 33px; white-space: nowrap; text-indent: 1px; border-style: solid; border-width: 3px 1px 0 1px;  line-height: 30px;  color: #c81623; }

.floor .mc { display: block;}
.floor .mc:after { display: block; clear: both; height: 0; content: "\0020"}
.floor .side { float: left;}
.floor .side .side-inner { position: relative; z-index: 1; display: block; overflow: hidden;}
.floor .side .side-inner .banner { position: absolute; z-index: 1; top: 0; right: 0; bottom: 0; left: 0;}
.floor .side .side-inner .themes { position: absolute; z-index: 2; left: 0; right: 0; padding: 0 0 0 10px; filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#7FFFFFFF', endColorstr='#7FFFFFFF');background:rgba(255,255,255,0.5);}
.floor .side .side-inner .themes li { display: block; float: left; padding: 8px 0; font-size: 14px; line-height: 26px;}
.floor .side .side-inner .themes li a { display: block; color: #555;}
.floor .side .side-inner .themes li .icon { display: inline-block; /*vertical-align: middle;*/ width: 26px; height: 26px; margin: 0 5px 0 0;}
.floor .side .side-inner .words { position: absolute; z-index: 2; right: 0; bottom: 0; left: 0; padding: 25px 15px 25px 25px; filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#B2FFFFFF', endColorstr='#B2FFFFFF');background:rgba(255,255,255,0.7);}
.floor .side .side-inner .words li { display: block; float:left; margin-right: 10px; font-size: 12px; line-height: 24px; }
.floor .side .side-inner .words li a { color: #777;}
.floor .side .side-inner .words li a.style-red { color: #F34235;}

.floor .main { position: relative; z-index: 1; float: right; background-color: #FFF;}
.floor .main .main-inner { display: block; position: relative; z-index: 1;}
.floor .main .main-inner:after { display: block; clear: both; height: 0; content: "\0020"}
.floor .main .main-inner .main-body { float: left; height: 100%;}
.floor .main .main-inner .main-extra { float: right; height: 100%;}
.floor .main .main-inner .main-body li,
.floor .main .main-inner .main-extra li { position: relative; z-index: 1; display: block; float: left; border: solid #EEE; border-width: 0 1px 1px 0;}
.floor .main .main-side { display: block; position: absolute; z-index: 2; overflow: hidden;}
.floor .main .main-side .slider-main li { display: list-item; float: left;}
.floor .main .g-list { position: relative; z-index: 1; overflow: hidden;}
.floor .main .g-list li { float: left; display: block; height: 230px; border: solid #EEE; border-width: 0 1px 1px 0;}
.floor .main .g-list li .g-img { text-align: center;}
.floor .main .g-list li .g-name { display: block; margin-bottom: 3px; height: 36px; line-height: 18px; overflow: hidden;}
.floor .main .g-list li .g-price { color: #E4393C; font-size: 15px;}
.floor .main .g-list li .g-price span { font-family: "微软雅黑", "黑体";}

.floor .main .rule-g-list { padding: 50px 0;}
.floor .main .rule-g-list dl { width: 60%; padding-left: 60px; margin: 0 auto;}
.floor .main .rule-g-list dt { font-size: 16px;}
.floor .main .rule-g-list dd { font-size: 12px; line-height: 18px;}

.floor .side .side-inner .banner img,
.floor .side .side-inner .themes li .icon img,
.floor .main .main-inner .main-extra li img,
.floor .main .main-inner .main-body li img,
.floor .main .main-side .slider-main li img  { width: 100%; height: 100%;}

.floor .tab-hide{display: none}
.floor-t1 .side { width: 210px;}
.floor-t1 .side .side-inner { height: 474px;}
.floor-t1 .side .side-inner .themes { bottom: 152px;}
.floor-t1 .side .side-inner .themes li { width: 50%;}
.floor-t1 .side .side-inner .words { top: 322px; }
.floor-t1 .main { width: 1000px;}
.floor-t1 .main .main-inner { height: 474px;}
.floor-t1 .main .main-inner .main-body { width: 780px;}
.floor-t1 .main .main-inner .main-extra { width: 220PX;}
.floor-t1 .main .main-inner .main-body li,
.floor-t1 .main .main-inner .main-extra li { width: 219px; height: 236px;}
.floor-t1 .main .main-inner .main-body li.fore2,
.floor-t1 .main .main-inner .main-body li.fore4 { padding-left: 340px;}
.floor-t1 .main .main-side { left: 220px; top: 0; bottom: 0; width: 339px; height: 473px;}
.floor-t1 .main .main-side .slider-main { height: 473px;}
.floor-t1 .main .main-side .slider-main li { width: 339px; height: 473px; overflow: hidden;}
.floor-t1 .main .main-side .slider-main li a { display: block; width: 339px; height: 236px; border-bottom: dotted 1px #FFF;}

.floor-t1 .main .g-list li { width: 165px; padding: 6px 17px 0;}
.floor-t1 .main .g-list li .g-img { height: 140px; padding-top: 15px; margin-bottom: 4px;}
.floor-t1 .main .g-list li .g-img img { width: 130px; height: 130px;}

.floor-t2 .side { width: 330px;}
.floor-t2 .side .side-inner { height: 474px;}
.floor-t2 .side .side-inner .themes { bottom: 192px; padding-left: 20px;}
.floor-t2 .side .side-inner .themes li { width: 33.33%;}
.floor-t2 .side .side-inner .words { top: 282px; }
.floor-t2 .main { width: 880px;}
.floor-t2 .main .main-inner { height: 474px;}
.floor-t2 .main .main-inner .main-body { width: 660px;}
.floor-t2 .main .main-inner .main-extra { width: 220px;}
.floor-t2 .main .main-inner .main-body li,
.floor-t2 .main .main-inner .main-extra li { width: 219px; height: 117px;}
.floor-t2 .main .main-inner .main-body li.fore1,
.floor-t2 .main .main-inner .main-body li.fore2 { padding-left: 440px;}
.floor-t2 .main .main-inner .main-body li.fore3,
.floor-t2 .main .main-inner .main-body li.fore4,
.floor-t2 .main .main-inner .main-body li.fore5,
.floor-t2 .main .main-inner .main-extra li.fore3 { height: 236px;}
.floor-t2 .main .main-side { left: 0; top: 0; bottom: 0; width: 439px; height: 236px;}
.floor-t2 .main .main-side .slider-main { height: 236px;}
.floor-t2 .main .main-side .slider-main li { width: 439px; height: 236px;}
.floor-t2 .main .g-list li { width: 185px; padding: 6px 17px 0;}
.floor-t2 .main .g-list li .g-img { height: 140px; padding-top: 15px; margin-bottom: 4px;}
.floor-t2 .main .g-list li .g-img img { width: 130px; height: 130px;}
.floor-t2 .bx-default-pager{ width: 439px !important; margin-left: -219px; }




/*新增t3模板*/
.floor-t3 .mt h2{ padding-left: 0px;}
.floor-t3 .mt .mt-link{margin-left:25px; float: left;}
.floor-t3 .mt .mt-link li{float: left; padding:0px 15px; border-right: 1px solid #cecece; height: 14px; margin-top: 12px;}
.floor-t3 .mt .mt-link li:last-child{ border-right: 0 }
.floor-t3 .mt .mt-link li a{line-height: 12px; height: 12px; font-size: 14px; color: #666; vertical-align: top }
.floor-t3 .mt .mt-more{ float: right; line-height: 12px; font-size: 14px; color: #666; margin-top: 12px;}
.floor-t3 .main{width: 916px}
.floor-t3 .main .g-list li{padding:22px 14px 0; width: 200px; height: 272px;}
.floor-t3 .main .g-list li .g-img{  height: 200px; text-align: center;}
.floor-t3 .main .g-list li .g-img a{ display: block;width: 200px; height: 200px;  }
.floor-t3 .main .g-list li .g-img a img{ width: 200px; height: 200px; }
.floor-t3 .main .g-list li .g-price{ color: #999; font-size: 12px; margin-top:15px !important; }
.floor-t3 .main .g-list li .g-price .ruling{ color: #F15C18; }
.floor-t3 .main .g-list li .g-price .ruling em{ font-size: 16px; font-weight: 600; line-height: 24px; }
.floor-t3 .main .g-list li .g-price .prime{ text-decoration: line-through; line-height: 24px; }
.floor-t3 .main .g-list li .g-name{ height: 18px;  width: 170px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; padding:6px 0; }
.floor-t3 .side{ width: 294px; }
.floor-t3 .side .side-inner{height: 589px}
.floor-t3 .side .side-inner .banner{ height: 589px; position:relative; }
.floor-t3 .side .side-inner .banner a{ display: block; width: 294px; height: 589px; }
.floor-t3 .side .side-inner .banner a img{ width: 294px; height: 589px; }
.floor-t3 .side .side-inner .bannd{position: absolute; left: 0; right: 0; bottom:0; height: 168px; width: 244px;padding:15px 25px; z-index: 9999}
.floor-t3 .side .side-inner .bannd li{float: left; margin-right:9px; margin-bottom: 17px;}
.floor-t3 .side .side-inner .bannd li:nth-child(3n){ margin-right: 0px; }
.floor-t3 .side .side-inner .bannd a{ display: block; width: 75px; height: 75px; border-radius:50%; }
.floor-t3 .side .side-inner .bannd a img{ width: 75px; height: 75px; border-radius:50%; }

/* 品牌楼层块 */
.home-style-brand { width: 1208px; background-color: #FFF; padding: 15px 0; margin: 0 auto; border: solid #EEE; border-width: 0 1px 1px; overflow: hidden;}
.home-style-brand ul { width: 1210px; height: 33px; overflow: hidden; margin-left: -1px;}
.home-style-brand ul li { float: left; width: 120px; height: 33px; border-left: 1px dotted #ccc; text-align: center;}
.home-style-brand ul li img { max-width: 100px; max-height: 33px;}

/* 横幅广告楼层块 */
.nc-design-home-adv { width: 968px; background: #FFF; margin: 0 auto; overflow: hidden;}
.adv-banner { width: 610px; height: 60px; }
.adv-banner { max-width: 100%; max-height: 100%; }


/*颜色控制*/
.color01 .mt,
.color01 .tab-selected a { border-color: #C81623;}
.color02 .mt,
.color02 .tab-selected a { border-color: #F34235;}
.color03 .mt,
.color03 .tab-selected a { border-color: #E81D62;}
.color04 .mt,
.color04 .tab-selected a { border-color: #FF6B80;}
.color05 .mt,
.color05 .tab-selected a { border-color: #9B26AF;}
.color06 .mt,
.color06 .tab-selected a { border-color: #3E50B4;}
.color07 .mt,
.color07 .tab-selected a { border-color: #2095F2;}
.color08 .mt,
.color08 .tab-selected a { border-color: #02A8F3;}
.color09 .mt,
.color09 .tab-selected a { border-color: #00BBD3;}
.color10 .mt,
.color10 .tab-selected a { border-color: #009587;}
.color11 .mt,
.color11 .tab-selected a { border-color: #4BAE4F;}
.color12 .mt,
.color12 .tab-selected a { border-color: #8AC249;}
.color13 .mt,
.color13 .tab-selected a { border-color: #CCDB38;}
.color14 .mt,
.color14 .tab-selected a { border-color: #FEEA3A;}
.color15 .mt,
.color15 .tab-selected a { border-color: #FEC006;}
.color16 .mt,
.color16 .tab-selected a { border-color: #FE9700;}
.color17 .mt,
.color17 .tab-selected a { border-color: #FE5621;}
.color18 .mt,
.color18 .tab-selected a { border-color: #785447;}
.color19 .mt,
.color19 .tab-selected a { border-color: #9D9D9D;}
.color20 .mt,
.color20 .tab-selected a { border-color: #DDDDDD;}

.color01 .mt h2 i,
.color01 .mc .side .side-inner { background-color: #E38A91;}
.color02 .mt h2 i,
.color02 .mc .side .side-inner { background-color: #F9A09A;}
.color03 .mt h2 i,
.color03 .mc .side .side-inner { background-color: #F38EB0;}
.color04 .mt h2 i,
.color04 .mc .side .side-inner { background-color: #FFB5BF;}
.color05 .mt h2 i,
.color05 .mc .side .side-inner { background-color: #CD92D7;}
.color06 .mt h2 i,
.color06 .mc .side .side-inner { background-color: #9EA7D9;}
.color07 .mt h2 i,
.color07 .mc .side .side-inner { background-color: #8FCAF8;}
.color08 .mt h2 i,
.color08 .mc .side .side-inner { background-color: #80D3F9;}
.color09 .mt h2 i,
.color09 .mc .side .side-inner { background-color: #7FDDE9;}
.color10 .mt h2 i,
.color10 .mc .side .side-inner { background-color: #7FCAC3;}
.color11 .mt h2 i,
.color11 .mc .side .side-inner { background-color: #A5D6A7;}
.color12 .mt h2 i,
.color12 .mc .side .side-inner { background-color: #C4E0A4;}
.color13 .mt h2 i,
.color13 .mc .side .side-inner { background-color: #E5ED9B;}
.color14 .mt h2 i,
.color14 .mc .side .side-inner { background-color: #FEF49C;}
.color15 .mt h2 i,
.color15 .mc .side .side-inner { background-color: #FEDF82;}
.color16 .mt h2 i,
.color16 .mc .side .side-inner { background-color: #FECB7F;}
.color17 .mt h2 i,
.color17 .mc .side .side-inner { background-color: #FEAA90;}
.color18 .mt h2 i,
.color18 .mc .side .side-inner { background-color: #BBA9A3;}
.color19 .mt h2 i,
.color19 .mc .side .side-inner { background-color: #CECECE;}
.color20 .mt h2 i,
.color20 .mc .side .side-inner { background-color: #EEEEEE;}

.color01 .tab-selected a { color: #E38A91;}
.color02 .tab-selected a { color: #F9A09A;}
.color03 .tab-selected a { color: #F38EB0;}
.color04 .tab-selected a { color: #FFB5BF;}
.color05 .tab-selected a { color: #CD92D7;}
.color06 .tab-selected a { color: #9EA7D9;}
.color07 .tab-selected a { color: #8FCAF8;}
.color08 .tab-selected a { color: #80D3F9;}
.color09 .tab-selected a { color: #7FDDE9;}
.color10 .tab-selected a { color: #7FCAC3;}
.color11 .tab-selected a { color: #A5D6A7;}
.color12 .tab-selected a { color: #C4E0A4;}
.color13 .tab-selected a { color: #E5ED9B;}
.color14 .tab-selected a { color: #FEF49C;}
.color15 .tab-selected a { color: #FEDF82;}
.color16 .tab-selected a { color: #FECB7F;}
.color17 .tab-selected a { color: #FEAA90;}
.color18 .tab-selected a { color: #BBA9A3;}
.color19 .tab-selected a { color: #CECECE;}
.color20 .tab-selected a { color: #EEEEEE;}

/*会员专享*/
.home-vip-layout{ width: 1210px; height: 350px; margin:15px auto; clear: both; overflow: hidden; }
.vip-share{ width: 1208px; height: 346px; border:1px solid #f15e1b; border-width:3px 1px 1px; background: #fff; }
.vip-share .vip-title{height:49px;background:#f2f2f2; width: 100%; overflow: hidden;border-bottom:1px solid #e1e1e1;}
.vip-share .vip-title .vip-left{float: left; font-size: 20px; color: #f15e1b; line-height: 50px; }
.vip-share .vip-title .vip-left i{display:inline-block; width: 26px; height: 26px; background: url(../img/vip.png) no-repeat; vertical-align: middle; margin-top: -5px; margin-right:13px; margin-left:23px;}
.vip-share .vip-title .vip-right{ float: right; }
.vip-share .vip-title .vip-right span{ display: inline-block; line-height: 50px; margin-right: 40px;}
.vip-share .vip-title .vip-right span a{ font-size: 16px; color: #f15e1b; }
.vip-share .vip-title .vip-right span a img{ width: 25px; height: 25px; display: inline-block; margin-right:6px; margin-top:-4px; }
.vip-share .vip-bottom{ width: 1164px; height:300px; margin:0 auto; position: relative; }
.vip-share .vip-bottom ul{ overflow: hidden; }
.vip-share .vip-bottom ul li{width: 206px; height:270px; float: left; border-right: 1px solid #ebebeb;padding:13px;}
.vip-share .vip-bottom ul li:nth-child(5n){border-right: 0px;}
.vip-share .vip-bottom ul li .vip-img{ width: 206px; height: 206px; }
.vip-share .vip-bottom ul li .vip-img a{display: block; width: 206px; height: 206px;}
.vip-share .vip-bottom ul li .vip-img a img{ width: 206px; height: 206px; }
.vip-share .vip-bottom ul li .vip-name{ font-size: 12px; line-height: 24px; color: #333; width: 100%; height: 48px;overflow: hidden; margin-top: 20px; }
.vip-share .vip-bottom ul li .vip-price{ font-size: 14px;color:#ff5500; }
.vip-share .vip-bottom ul li .vip-price em{color:#ff5500}
.vip-share .vip-bottom ul li .vip-price em.vip-rmb{ font-size: 16px; margin-right: 5px; }
.vip-share .vip-bottom ul li .vip-price em.vip-prices{ font-size: 20px; }


